:root {

--green: rgba(26, 188, 156, 1);
--blue-grey: rgba(58, 84, 109, 1);
--dark-blue: rgba(44, 62, 80, 1);
--white: white;

}




.red {
    background-color: red;
}
body {
    background-color: white;
    color: var(--white);
}

.bg-green {
    background-color:  var(--green);
}
.bg-grey {
    background-color: var(--dark-blue);
}
.bg-blue-grey {
    background-color: var(--blue-grey)
}


/* MAIN  */

/* main {
    margin-top: 100px;
} */

/* HEADER  */

header {
    background-color: rgb(65, 65, 65);
    position: fixed;
    height: 90px;
    top: 0;
    width: 100%;
}
#hero {
    padding-top: 100px;
}
nav .nav-link
 {
    color: white;
}
