:root {

--green: rgba(26, 188, 156, 1);
--blue-grey: rgba(58, 84, 109, 1);
--dark-blue: rgba(44, 62, 80, 1);
--white: white;

}




.red {
    background-color: red;
}
body {
    background-color: white;
    color: var(--white);
}
.dark-blue {
    color: var(--dark-blue);
}
.my-grey {
    color: rgb(84, 84, 84);
}
.bg-green {
    background-color:  var(--green);
}
.bg-grey {
    background-color: var(--dark-blue);
}
.bg-blue-grey {
    background-color: var(--blue-grey)
}
#portfolio hr {
    border-color: var(--blue-grey)!important;
}

/* piccola decorazione che si può mettere in mezzo al hr  */
/* hr:after {
    background: rgb(107, 137, 111);
    content: '$';
    padding: 0 4px;
    border-radius: 50%;
    position: relative;
    top: -13px;
} */
hr {
    height: 5px;
    /* overflow: visible; */
}
/* MAIN  */

/* main {
    margin-top: 100px;
} */

/* HEADER  */

header {
    background-color: rgb(65, 65, 65);
    position: fixed;
    /* height: 90px; */
    padding: 10px;
    top: 0;
    width: 100%;
    z-index: 1100;
    background-color: var(--dark-blue);
}
#hero {
    padding-top: 100px;
}
nav .nav-link
    {
    color: white;
    }
nav .nav-link:hover {
    color: var(--green);
}
nav i:hover {
    color: var(--green);
}
img.avatar{
    width: 70%;
    }
.layover-container {
    cursor: pointer;
    
} 
.layover-container::after {
    content: '+';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: var(--green);
    opacity: 0;
    font-size: 5rem;
    transition: opacity 1000ms;
}
.layover-container:hover::after {
    opacity: 0.8;
}
#about .btn{
    border-color: var(--white);
    color: var(--white);
    transition: all 1ms;
}
#about .btn:hover {
    background-color: transparent;
    color: var(--dark-blue);
    border-color: var(--dark-blue);
}
#contact .form-control {
    border: none;
    border-bottom: 1px solid var(--dark-blue);
    border-radius: 0;
    transition: all 0.5s;
    resize: none;
}
#contact .form-control:focus {
   box-shadow:  0 0 0 0.10rem rgb(178, 235, 178);
   border-color: rgb(253, 253, 253);
   border-radius: 10px;
}
.social div {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid var(--white);
}